.about{
	width: 100%;
	margin: 0 auto;
	background: url(../images/left.jpg) repeat-y,
				url(../images/table2.jpg);
	-webkit-background-size: 10%, cover;
	background-size: 10%, auto;
}
.about > p{
	padding-left: 10%;
	padding-right: 8%;
}

.team{
padding-bottom: 20px;
width: 80%;
margin: 0 auto;
}

.team ul{
	display: flex;
	justify-content: space-between;
	-ms-align-items: stretch;
	align-items: stretch;
	list-style: none;
	flex-wrap: wrap;
	padding: 10px 0;
}
.team ul li{
	width: 15%;
	flex-grow: 1;
	padding: 1%;
	border: 1px solid #979696;
	border-radius: 10px;
	margin: 0 10px;
	position: relative;
}
.team ul li a{
	text-align: center;
	/*margin: 0 auto;*/
}
.team ul li a img{
	display: block;
	margin: 0 auto;
}
.team ul li a span{
	display: block;
	font-weight: 600;
	font-size: 1.1em;
	padding: 10px 0;
}
.read_more{
	position: absolute;
	bottom: 0;
	right: 10px;
	padding: 2%;
	display: block;
	background-color: #615F5F;
	color: #FFFFFF;
	opacity: 0.9;
	border-radius: 8px;
}
.team ul li p{
	height: 5em;
	overflow: hidden;
	/*margin-bottom: 1.2em;*/

}
.read_more:focus{
	opacity: 0;
}
#read1:focus ~#team_p1{
	height: 100%;
}
#read2:focus ~#team_p2{
	height: 100%;
}
#read3:focus ~#team_p3{
	height: 100%;
}
#read4:focus ~#team_p4{
	height: 100%;
}


@media screen and (max-width: 1200px){
	.team ul{
		padding: 2% 0;
	}
	.team ul li{
		width: 40%
	}
}
@media screen and (max-width: 500px){
	.team ul li{
		width: 90%
	}
}

