
.gallery{
	width: 100%;
	margin: 0 auto;
	background-color: #050507;
	background-image: url(../images/style_met.jpg);
	position: relative;
/*	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;*/
}
#pagination_nav{
	width: 100%;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	text-align: center;
	padding-bottom: 10px;
}
.pagination_section{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	padding-bottom: 60px;
	/*position: absolute;*/
}
.pagination_button{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #FFFFFF;
	position: relative;
	top: 100%;
	text-align: center;
	cursor: pointer;
	margin: 1px;
}
.gallery-image{
	width: 300px;
	height: 300px;
	border: 1px solid #321C1C;
	margin: 10px;
	background-image: url(../images/gall-1.jpg);
	background-position: center;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
}
.gallery-wraper{
	width: 300px;
	display: flex;
	justify-content: center;
	align-content: center;
	margin: 1%;
	border: 1px solid #FFFFFF;
}
#gallery_section{
	width: 80%;
	margin: 0 auto;
	padding: 40px;
}



